@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --animate-beam: beam 8s linear infinite;
    --animate-marquee: marquee 40s linear infinite;
    --animate-spin-slow: spin 8s linear infinite;

    @keyframes beam {
        0% {
            top: -200px;
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100% {
            top: 100%;
            opacity: 0;
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

:root {
    color-scheme: light;
    --background: hsl(0, 0%, 96%);
    --foreground: hsl(0, 0%, 3.9%);
    --card: hsl(0, 0%, 94.7%);
    --card-foreground: hsl(0, 0%, 3.9%);
    --popover: hsl(0, 0%, 98%);
    --popover-foreground: hsl(0, 0%, 15.1%);
    --primary: hsl(0, 0%, 9%);
    --primary-foreground: hsl(0, 0%, 98%);
    --secondary: hsl(0, 0%, 93.1%);
    --secondary-foreground: hsl(0, 0%, 9%);
    --muted: hsl(0, 0%, 96.1%);
    --muted-foreground: hsl(0, 0%, 45.1%);
    --accent: hsla(0, 0%, 82%, 50%);
    --accent-foreground: hsl(0, 0%, 9%);
    --destructive: oklch(0.577 0.245 27.325);
    --border: hsla(0, 0%, 80%, 50%);
    --input: hsla(0, 0%, 80%, 50%);
    --ring: hsl(0, 0%, 63.9%);
    --radius: 0.625rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --card: oklch(0.21 0.034 264.665);
        --card-foreground: oklch(0.985 0.002 247.839);
        --popover: oklch(0.21 0.034 264.665);
        --popover-foreground: oklch(0.985 0.002 247.839);
        --primary: oklch(0.7 0.15 162);
        --primary-foreground: oklch(0.26 0.05 173);
        --secondary: oklch(0.274 0.006 286.033);
        --secondary-foreground: oklch(0.985 0 0);
        --muted: oklch(0.278 0.033 256.848);
        --muted-foreground: oklch(0.707 0.022 261.325);
        --accent: oklch(0.7 0.15 162);
        --accent-foreground: oklch(0.26 0.05 173);
        --destructive: oklch(0.704 0.191 22.216);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);
        --ring: oklch(0.551 0.027 264.364);
        --chart-1: oklch(0.85 0.13 165);
        --chart-2: oklch(0.77 0.15 163);
        --chart-3: oklch(0.7 0.15 162);
        --chart-4: oklch(0.6 0.13 163);
        --chart-5: oklch(0.51 0.1 166);
        --sidebar: oklch(0.21 0.034 264.665);
        --sidebar-foreground: oklch(0.985 0.002 247.839);
        --sidebar-primary: oklch(0.77 0.15 163);
        --sidebar-primary-foreground: oklch(0.26 0.05 173);
        --sidebar-accent: oklch(0.7 0.15 162);
        --sidebar-accent-foreground: oklch(0.26 0.05 173);
        --sidebar-border: oklch(1 0 0 / 10%);
        --sidebar-ring: oklch(0.551 0.027 264.364);
    }
}

.dark {
    color-scheme: dark;
    --background: hsl(0, 0%, 7.04%);
    --foreground: hsl(0, 0%, 92%);
    --card: hsl(0, 0%, 9.8%);
    --card-foreground: hsl(0, 0%, 98%);
    --popover: hsl(0, 0%, 11.6%);
    --popover-foreground: hsl(0, 0%, 86.9%);
    --primary: hsl(26, 73%, 51%);
    --primary-foreground: hsl(0, 0%, 9%);
    --secondary: hsl(0, 0%, 12.9%);
    --secondary-foreground: hsl(0, 0%, 92%);
    --muted: hsl(0, 0%, 12.9%);
    --muted-foreground: hsla(0, 0%, 70%, 0.8);
    --accent: hsla(0, 0%, 40.9%, 30%);
    --accent-foreground: hsl(0, 0%, 90%);
    --destructive: oklch(0.704 0.191 22.216);
    --border: hsla(0, 0%, 40%, 20%);
    --input: hsla(0, 0%, 40%, 20%);
    --ring: hsl(0, 0%, 54.9%);
}

/* Fumadocs Sidebar Overrides */
.dark #nd-sidebar {
    --color-fd-muted: hsl(0, 0%, 16%);
    --color-fd-secondary: hsl(0, 0%, 18%);
    --color-fd-muted-foreground: hsl(0, 0%, 72%);
}

.dark #nd-subnav {
    --color-fd-background: hsl(0, 0%, 7.04% / 80%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    
    html {
        scrollbar-gutter: stable;
    }

    html:has(body[data-scroll-locked]) {
        scrollbar-gutter: auto;
    }

    body {
        @apply bg-fd-background text-foreground;
    }

    #nd-sidebar .nd-sidebar-item[data-active='true'] {
        @apply text-brand;
    }

    .fd-toc-item[data-active='true'] {
        @apply text-brand;
    }
}

@theme {
    --spacing-page: 1436px;
    --color-brand: hsl(26, 73%, 51%);
    --color-brand-foreground: white;
    --color-brand-secondary: #c6bb58;
    --color-brand-secondary-foreground: #97890c;
    --color-brand-200: hsl(33, 100%, 50%);

    --color-fd-primary: var(--color-brand);
    --color-fd-brand: var(--color-brand);
    --color-fd-background: hsl(0, 0%, 96%);
    --color-fd-foreground: hsl(0, 0%, 3.9%);
    --color-fd-muted: hsl(0, 0%, 96.1%);
    --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
    --color-fd-popover: hsl(0, 0%, 98%);
    --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
    --color-fd-card: hsl(0, 0%, 94.7%);
    --color-fd-card-foreground: hsl(0, 0%, 3.9%);
    --color-fd-border: hsla(0, 0%, 80%, 50%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-secondary: hsl(0, 0%, 93.1%);
    --color-fd-secondary-foreground: hsl(0, 0%, 9%);
    --color-fd-accent: hsla(0, 0%, 82%, 50%);
    --color-fd-accent-foreground: hsl(0, 0%, 9%);
    --color-fd-ring: hsl(0, 0%, 63.9%);
}

.dark {
    --color-brand: #fff383;
    --color-brand-secondary: #fc7744;
    --color-brand-secondary-foreground: #521700;
    --color-brand-foreground: black;
    --color-brand-200: #fff7c8;

    --color-fd-primary: var(--color-brand);
    --color-fd-brand: var(--color-brand);
    --color-fd-background: hsl(0, 0%, 7.04%);
    --color-fd-foreground: hsl(0, 0%, 92%);
    --color-fd-muted: hsl(0, 0%, 12.9%);
    --color-fd-muted-foreground: hsla(0, 0%, 70%, 0.8);
    --color-fd-popover: hsl(0, 0%, 11.6%);
    --color-fd-popover-foreground: hsl(0, 0%, 86.9%);
    --color-fd-card: hsl(0, 0%, 9.8%);
    --color-fd-card-foreground: hsl(0, 0%, 98%);
    --color-fd-border: hsla(0, 0%, 40%, 20%);
    --color-fd-primary-foreground: hsl(0, 0%, 9%);
    --color-fd-secondary: hsl(0, 0%, 12.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 92%);
    --color-fd-accent: hsla(0, 0%, 40.9%, 30%);
    --color-fd-accent-foreground: hsl(0, 0%, 90%);
    --color-fd-ring: hsl(0, 0%, 54.9%);
}
